/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
 
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
      background-color: #E7F6FD;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.CSSTableGenerator {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #6dc47c;
    
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#c7ead7; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:middle;
    border:1px solid #6dc47c;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:12px;
    font-size:11px;
    font-family:Verdana;
    font-weight:bold;
    color:#191717;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}


.m-btn.red {
  color: white;
  text-shadow: none;
  background-color: #d84a38;
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#dd4b39),to(#d14836));
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39',endColorstr='#d14836',GradientType=0);
}
.m-btn.green {
  color: white;
  text-shadow: none;
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top,#35aa47,#35aa47);
  background-image: -ms-linear-gradient(top,#35aa47,#35aa47);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#35aa47),to(#35aa47));
  background-image: -webkit-linear-gradient(top,#35aa47,#35aa47);
  background-image: -o-linear-gradient(top,#35aa47,#35aa47);
  background-image: linear-gradient(top,#35aa47,#35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47',endColorstr='#35aa47',GradientType=0);
}

.m-btn {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 14px;
  margin-top: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: #eee;
  background-image: -moz-linear-gradient(top,#eee,#eee);
  background-image: -ms-linear-gradient(top,#eee,#eee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#eee));
  background-image: -webkit-linear-gradient(top,#eee,#eee);
  background-image: -o-linear-gradient(top,#eee,#eee);
  background-image: linear-gradient(top,#eee,#eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#eeeeee',GradientType=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  zoom: 1;
  z-index: 1;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  min-width: 42px;
  text-shadow: #fff 0 1px 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: inherit;
}

.wrapper {
    margin-bottom: 20px;
    text-align: center;

}